@charset "UTF-8";
primary {
  color: #333232; }

secondary {
  color: #788AA3; }

text-color {
  color: #2B2B2B; }

base {
  color: #E2DBBE; }

alternative {
  color: #EF798A; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: dimgray; }

nav ul {
  display: flex;
  gap: 2em;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1em; }

nav li {
  display: inline-block; }

nav li:hover {
  background-color: dimgrey; }

.form {
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0 auto; }

.form {
  background-color: black;
  width: 450px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px; }

.titulo__form {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px; }

.botones {
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-size: 17px;
  border: none; }

.botones__form {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%; }

.enviar {
  color: black;
  padding: 10px;
  margin: 1em; }

.enviar:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1); }

.menu__inicio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  gap: 0;
  font-size: 20px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  height: 50vh; }

.titulo__3 {
  text-align: center;
  font-size: 2.4em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 30px;
  text-decoration: underline; }

.gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 50px; }

.gallery__img:nth-of-type(1) {
  grid-column: 1 / 2; }

.gallery__img:nth-of-type(2) {
  grid-column: 3 / 12; }

.gallery__img:nth-of-type(3) {
  grid-column: 1 / 2;
  grid-row: 2; }

.gallery__img:nth-of-type(4) {
  grid-column: 3 / 12;
  grid-row: 2; }

.gallery__img:nth-of-type(5) {
  grid-column: 1 / 12;
  grid-row: 3; }

.gallery__img:nth-of-type(6) {
  grid-column: 3 / 12;
  grid-row: 3; }

@media screen and (max-width: 600px) {
  .info__title, .info__title--active {
    text-align: centers; }
  .gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem; }
  .gallery__img:nth-of-type(1) {
    grid-column: 1 / 2; }
  .gallery__img:nth-of-type(2) {
    grid-column: 1 / 2;
    grid-row: 2; }
  .gallery__img:nth-of-type(3) {
    grid-column: 1 / 2;
    grid-row: 3; }
  .gallery__img:nth-of-type(4) {
    grid-column: 1 / 2;
    grid-row: 4; }
  .gallery__img:nth-of-type(5) {
    grid-column: 1 / 2;
    grid-row: 5; }
  .gallery__img:nth-of-type(6) {
    grid-column: 1 / 2;
    grid-row: 6; } }

h2 {
  color: white;
  text-align: center;
  margin: 30px;
  text-decoration: underline;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

main {
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.card-img-top {
  background-size: cover; }

.img__circulo1 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 60px; }

h3 {
  text-align: center;
  font-size: 2.4em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 30px;
  text-decoration: underline;
  color: white; }

.img__circulo2 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 60px; }

.img__circulo3 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 60px; }

.img__circulo4 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 60px; }

.card-text {
  font-size: medium;
  font-size: small; }

.card-title {
  text-align: center;
  font-size: x-large;
  justify-content: center;
  text-decoration: underline; }
  .card-title-title {
    text-align: center;
    font-size: medium;
    justify-content: center;
    text-decoration: underline; }

.info {
  display: flex;
  padding: 6rem;
  align-items: center; }

.info__box {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column; }

.info__title, .info__title--active {
  font-size: 2.4em;
  color: #333232;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 1em;
  color: #333232;
  text-align: center;
  text-decoration: underline; }
  .info__title--active {
    color: white; }

.info__descrpcion {
  font-size: 2em;
  font-weight: 300;
  font-family: cursive;
  color: white;
  margin: 10px; }

.info__img {
  flex: 1 1 50%; }

.box__img1 {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 1px 10px;
  background-color: black; }

.box__img2 {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 1px 10px;
  background-color: black; }

.btn {
  font-size: medium;
  background-color: black;
  color: white; }

.cards:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

.box__img2 {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 1px 10px;
  background-color: black;
  transition: all 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

.parrafo__cabaña {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-around;
  gap: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  color: black; }

.titulo__complejo {
  margin: 30px;
  text-align: center;
  text-decoration: underline;
  font-size: 2.4em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.fot__nosotros {
  width: 1200px; }

.contenedor-actividades {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem; }

.imagen__1 {
  grid-column: 1 / 2;
  grid-row: 2; }

.imagen__4 {
  grid-column: 2 / 4;
  grid-row: 2; }

@media screen and (max-width: 600px) {
  .contenedor-actividades {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem; }
  .imagen__1 {
    grid-column: 1 / 2;
    grid-row: 1; }
  .imagen__4 {
    grid-column: 1 / 2;
    grid-row: 2; }
  .card {
    grid-column: 1 / 2; }
  .titulo {
    display: flex;
    flex-direction: column;
    text-align: center; } }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0;
  font-size: 17px;
  cursor: pointer;
  background-color: #788AA3;
  background-size: cover;
  background-position: center;
  padding: 2.4em 0; }

header {
  background-color: darkgray; }

footer {
  background-color: darkgray;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10em;
  color: black; }

.fot__title {
  font-size: 2em;
  text-align: center;
  justify-content: space-around; }

.fot__informacion {
  color: white;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

ul li {
  list-style: none; }
