primary {
  color: #333232; }

secondary {
  color: #788AA3; }

text-color {
  color: #2B2B2B; }

base {
  color: #E2DBBE; }

alternative {
  color: #EF798A; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: dimgray; }

nav ul {
  display: flex;
  gap: 2em;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1em; }

nav li {
  display: inline-block; }

nav li:hover {
  background-color: dimgrey; }

.form {
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0 auto;
  padding: 2.4em;
  display: flex;
  flex-direction: column; }

.form {
  background-color: #788AA3;
  width: 450px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
  padding: 2.4em;
  display: flex;
  flex-direction: column; }

.titulo__form {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px; }

.botones {
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-size: 17px;
  border: none; }

.botones__form {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%; }

.enviar {
  color: black;
  padding: 10px;
  margin: 1em; }

.enviar:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1); }

@media screen and (max-width: 990px) {
  .form {
    font-size: medium;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; }
  .titulo__form {
    text-align: center; } }

@media screen and (max-width: 600px) {
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; } }

@media (max-width: 576px) {
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; }
  .titulo__form {
    font-size: small;
    text-align: center; } }

.menu__inicio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  gap: 0;
  font-size: 20px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  height: 50vh; }

.titulo__3 {
  text-align: center;
  font-size: 2.4em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 30px;
  text-decoration: underline; }

.gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 50px; }

.gallery__img:nth-of-type(1) {
  grid-column: 1 / 2; }

.gallery__img:nth-of-type(2) {
  grid-column: 3 / 12; }

.gallery__img:nth-of-type(3) {
  grid-column: 1 / 2;
  grid-row: 2; }

.gallery__img:nth-of-type(4) {
  grid-column: 3 / 12;
  grid-row: 2; }

.gallery__img:nth-of-type(5) {
  grid-column: 1 / 12;
  grid-row: 3; }

.gallery__img:nth-of-type(6) {
  grid-column: 3 / 12;
  grid-row: 3; }

@media screen and (max-width: 768px) {
  .info__title, .info__title--active {
    text-align: center; }
  .gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem; }
  .gallery__img:nth-of-type(1) {
    grid-column: 1 / 2; }
  .gallery__img:nth-of-type(2) {
    grid-column: 1 / 2;
    grid-row: 2; }
  .gallery__img:nth-of-type(3) {
    grid-column: 1 / 2;
    grid-row: 3; }
  .gallery__img:nth-of-type(4) {
    grid-column: 1 / 2;
    grid-row: 4; }
  .gallery__img:nth-of-type(5) {
    grid-column: 1 / 2;
    grid-row: 5; }
  .gallery__img:nth-of-type(6) {
    grid-column: 1 / 2;
    grid-row: 6; } }

@media screen and (max-width: 510px) {
  .info__title, .info__title--active {
    text-align: center; }
  .gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem; }
  .gallery__img:nth-of-type(1) {
    grid-column: 1 / 2; }
  .gallery__img:nth-of-type(2) {
    grid-column: 1 / 2;
    grid-row: 2; }
  .gallery__img:nth-of-type(3) {
    grid-column: 1 / 2;
    grid-row: 3; }
  .gallery__img:nth-of-type(4) {
    grid-column: 1 / 2;
    grid-row: 4; }
  .gallery__img:nth-of-type(5) {
    grid-column: 1 / 2;
    grid-row: 5; }
  .gallery__img:nth-of-type(6) {
    grid-column: 1 / 2;
    grid-row: 6; } }

@media screen and (max-width: 369px) {
  .info__title, .info__title--active {
    text-align: center; }
  .gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem; }
  .gallery__img:nth-of-type(1) {
    grid-column: 1 / 2; }
  .gallery__img:nth-of-type(2) {
    grid-column: 1 / 2;
    grid-row: 2; }
  .gallery__img:nth-of-type(3) {
    grid-column: 1 / 2;
    grid-row: 3; }
  .gallery__img:nth-of-type(4) {
    grid-column: 1 / 2;
    grid-row: 4; }
  .gallery__img:nth-of-type(5) {
    grid-column: 1 / 2;
    grid-row: 5; }
  .gallery__img:nth-of-type(6) {
    grid-column: 1 / 2;
    grid-row: 6; } }

main {
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.circulo {
  margin: 0 auto; }
  .circulo__1 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 60px; }
  .circulo__2 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 60px; }
  .circulo__3 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 60px; }
  .circulo__4 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 60px; }

.card-text {
  font-size: medium;
  font-size: small; }

.card-title {
  text-align: center;
  font-size: x-large;
  justify-content: center;
  text-decoration: underline; }
  .card-title-title {
    text-align: center;
    font-size: medium;
    justify-content: center;
    text-decoration: underline; }

.info {
  display: flex;
  padding: 6rem;
  align-items: center; }

.info__box {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column; }

.info__title, .info__title--active {
  font-size: 2.4em;
  color: #333232;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 1em;
  color: #333232;
  text-align: center;
  text-decoration: underline; }
  .info__title--active {
    color: white; }

.info__descrpcion {
  font-size: 2em;
  font-weight: 300;
  font-family: cursive;
  color: white;
  margin: 10px; }

.btn {
  font-size: medium;
  background-color: black;
  color: white; }

.cards:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

@media screen and (max-width: 768px) {
  main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem; } }

h1 {
  color: #E2DBBE;
  text-shadow: 1px 2px black, 0 0 25px slategrey, 0 0 5px slategray;
  text-align: center;
  margin: 25px;
  text-decoration: underline; }

.imagenes {
  margin: 20px; }
  .imagenes__1 {
    margin: 40px;
    border-radius: 50%;
    object-fit: cover; }
  .imagenes__2 {
    margin: 40px;
    border-radius: 50%;
    object-fit: cover; }
  .imagenes__3 {
    margin: 40px;
    border-radius: 50%;
    object-fit: cover; }
  .imagenes__4 {
    margin: 40px;
    border-radius: 50%;
    object-fit: cover; }
  .imagenes__5 {
    margin: 40px;
    border-radius: 50%;
    object-fit: cover; }
  .imagenes__6 {
    margin: 40px;
    border-radius: 50%;
    object-fit: cover; }
  .imagenes__7 {
    margin: 40px;
    border-radius: 50%;
    object-fit: cover; }

.carousel {
  font-size: 20px;
  color: #333232;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.carousel__par {
  color: #E2DBBE;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

@media screen and (max-width: 1200px) {
  h1 {
    text-align: center; }
  .imagenes {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 5px; }
  .carousel-item active {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; } }

@media screen and (max-width: 980px) {
  h1 {
    text-align: center; }
  .imagenes {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 5px; }
  .carousel-item active {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; } }

@media screen and (max-width: 768px) {
  h1 {
    text-align: center; }
  .imagenes {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 5px; }
  .carousel-item active {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; } }

@media screen and (max-width: 600px) {
  h1 {
    text-align: center; }
  .imagenes {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 5px; }
  .carousel-item active {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; } }

@media screen and (max-width: 440px) {
  h1 {
    text-align: center; }
  .imagenes {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 5px; }
  .carousel-item active {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; } }

@media screen and (max-width: 362px) {
  h1 {
    text-align: center; }
  .imagenes {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 5px; }
  .carousel-item active {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; } }

.titulo__4 {
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 10px;
  color: #E2DBBE;
  text-align: center; }

.video {
  margin: 30px; }

.parrafo__serv {
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
  margin: 20px;
  text-align: inherit; }

@media screen and (max-width: 1200px) {
  .titulo__3 {
    text-align: center;
    font-size: medium; }
  .titulo__4 {
    text-align: center;
    font-size: small; }
  h1 {
    text-align: center; }
  .carousel-item active {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; }
  .video {
    max-width: 200%;
    height: 0 auto; } }

@media screen and (max-width: 980px) {
  .titulo__3 {
    text-align: center;
    font-size: medium; }
  .titulo__4 {
    text-align: center;
    font-size: small; }
  h1 {
    text-align: center; }
  .carousel-item active {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; }
  .video {
    max-width: 200%;
    height: 0 auto; } }

@media screen and (max-width: 768px) {
  .titulo__3 {
    text-align: center;
    font-size: medium; }
  .titulo__4 {
    text-align: center;
    font-size: small; }
  h1 {
    text-align: center; }
  .carousel-item active {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; }
  .video {
    max-width: 200%;
    height: 0 auto; } }

@media screen and (max-width: 600px) {
  .titulo__3 {
    text-align: center;
    font-size: medium; }
  .titulo__4 {
    text-align: center;
    font-size: small; }
  h1 {
    text-align: center; }
  .carousel-item active {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; }
  .video {
    max-width: 200%;
    height: 0 auto; } }

@media screen and (max-width: 440px) {
  .titulo__3 {
    text-align: center;
    font-size: medium; }
  .titulo__4 {
    text-align: center;
    font-size: small; }
  h1 {
    text-align: center; }
  .carousel-item active {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; }
  .video {
    max-width: 200%;
    height: 0 auto; } }

@media screen and (max-width: 362px) {
  .titulo__3 {
    text-align: center;
    font-size: medium; }
  .titulo__4 {
    text-align: center;
    font-size: small; }
  h1 {
    text-align: center; }
  .carousel-item active {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; }
  .video {
    max-width: 200%;
    height: 0 auto; } }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0;
  font-size: 17px;
  cursor: pointer;
  background-color: #788AA3;
  background-size: cover;
  background-position: center;
  padding: 2.4em 0; }

header {
  background-color: darkgray; }

@media screen and (max-width: 768px) {
  header {
    display: flex;
    justify-content: flex-end; }
  .logo {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    width: 200px; }
  .btn {
    margin: 15px; }
  .nav-item {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    display: inline; }
  .nav-link active {
    display: block;
    color: aqua;
    font-size: medium;
    position: absolute;
    right: inherit;
    left: inherit;
    z-index: 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: burlywood; } }

@media screen and (max-width: 576px) {
  header {
    display: flex;
    justify-content: flex-end; }
  .logo {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    width: 200px; }
  .btn {
    margin: 15px; }
  .nav-item {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    display: inline; }
  .nav-link active {
    display: block;
    color: aqua;
    font-size: medium;
    position: absolute;
    right: inherit;
    left: inherit;
    z-index: 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: burlywood; } }

@media screen and (max-width: 440px) {
  header {
    display: flex;
    justify-content: flex-end; }
  .logo {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    width: 200px; }
  .btn {
    margin: 15px; }
  .nav-item {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    display: inline; }
  .nav-link active {
    display: block;
    color: aqua;
    font-size: medium;
    position: absolute;
    right: inherit;
    left: inherit;
    z-index: 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: burlywood; } }

@media screen and (max-width: 320px) {
  header {
    display: flex;
    justify-content: flex-end; }
  .logo {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    width: 200px; }
  .btn {
    margin: 15px; }
  .nav-item {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    display: inline; }
  .nav-link active {
    display: block;
    color: aqua;
    font-size: medium;
    position: absolute;
    right: inherit;
    left: inherit;
    z-index: 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: burlywood; } }

footer {
  background-color: darkgray;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10em;
  color: black; }

.fot__title {
  font-size: 2em;
  text-align: center;
  justify-content: space-around; }

.fot__informacion {
  color: white;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

ul li {
  list-style: none; }

.redes {
  padding: 30px; }

.redes h1 {
  text-align: center;
  font-weight: bold; }

.sociales {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px; }

.sociales li {
  display: inline-block; }

.sociales {
  padding: auto; }

@media screen and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
  h1 {
    text-align: center; }
  .sociales {
    display: grid;
    grid-template-columns: repeat(1, 1fr); } }

@media screen and (max-width: 576px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
  h1 {
    text-align: center; }
  .sociales {
    display: grid;
    grid-template-columns: repeat(1, 1fr); } }

@media screen and (max-width: 320px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
  h1 {
    text-align: center; }
  .sociales {
    display: grid;
    grid-template-columns: repeat(1, 1fr); } }
