main {
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  main .card-text {
    text-align: center;
    font-size: x-large;
    justify-content: center;
    text-decoration: underline; }
  main .info {
    display: flex;
    padding: 6rem;
    align-items: center; }
    main .info__img {
      flex: 1 1 50%; }
    main .info__box {
      flex: 1 1 50%;
      display: flex;
      flex-direction: column; }
    main .info__title {
      font-size: 2.4em;
      color: var(--primary);
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin: 1em;
      color: #333232; }
    main .info__descriptio {
      font-size: 2em;
      font-weight: 300;
      font-family: cursive;
      background-color: #333232;
      color: white;
      margin: 10px; }
