footer{
    background-color: map-get($colors, secondary);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10em;
    color: black; 
}

.fot__title{
    font-size: 2em;
    text-align: center;
    justify-content: space-around;
}

ul li{
    list-style: none;
}
