footer{
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10em;
    color: black; 
}

.fot__title{
    font-size: 2em;
    text-align: center;
    justify-content: space-around;
}

.fot__informacion{
    color: white;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul li{
    list-style: none;
}

.redes{
    padding: 30px;
}

.redes h1{
    text-align: center;
    font-weight: bold;
}

.sociales{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.sociales li{
    display: inline-block;    
}

.sociales{
    padding: auto;
}


@media screen and (max-width: 768px) {


    footer{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    h1{
        text-align: center;
    }

    .sociales{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
}

@media screen and (max-width: 576px){
    footer{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    h1{
        text-align: center;
    }

    .sociales{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}

@media screen and (max-width: 320px){
    footer{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    h1{
        text-align: center;
    }

    .sociales{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}