header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 17px;
    cursor: pointer;
    background-color: darkcyan;
    background-size: cover;
    background-position: center;
    padding: 2.4em 0; 
}


