
header {
    @include flex(row, space-between, flex-end, 0)
    font-size: 17px;
    cursor: pointer;
    background-color: map-get($colors, secondary);
    background-size: cover;
    background-position: center;
    padding: 2.4em 0; 
}

header{
    background-color: darkgray;
}


