
header {
    @include flex(row, space-between, flex-end, 0)
    font-size: 17px;
    cursor: pointer;
    background-color: map-get($colors, secondary);
    background-size: cover;
    background-position: center;
    padding: 2.4em 0; 
}

header{
    background-color: darkgray;
}


@media screen and (max-width: 768px) {


    header{
        display: flex;
        justify-content: flex-end;
    }

    .logo{
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
        width: 200px;
    }

    .btn{
        margin: 15px;
    }

    .nav-item{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        display: inline;
    }

    .nav-link active{
        display: block;
        color: aqua;
        font-size: medium;
        position: absolute;
        right: inherit;
        left: inherit;
        z-index: 2;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: burlywood;
    }

}

@media screen and (max-width: 576px){

    header{
        display: flex;
        justify-content: flex-end;
    }

    .logo{
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
        width: 200px;
    }

    .btn{
        margin: 15px;
    }

    .nav-item{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        display: inline;
    }

    .nav-link active{
        display: block;
        color: aqua;
        font-size: medium;
        position: absolute;
        right: inherit;
        left: inherit;
        z-index: 2;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: burlywood;
    }

}

@media screen and (max-width: 440px){
    header{
        display: flex;
        justify-content: flex-end;
    }

    .logo{
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
        width: 200px;
    }

    .btn{
        margin: 15px;
    }

    .nav-item{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        display: inline;
    }

    .nav-link active{
        display: block;
        color: aqua;
        font-size: medium;
        position: absolute;
        right: inherit;
        left: inherit;
        z-index: 2;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: burlywood;
    }    
    
}


@media screen and (max-width: 320px){
    
    header{
        display: flex;
        justify-content: flex-end;
    }

    .logo{
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
        width: 200px;
    }

    .btn{
        margin: 15px;
    }

    .nav-item{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        display: inline;
    }

    .nav-link active{
        display: block;
        color: aqua;
        font-size: medium;
        position: absolute;
        right: inherit;
        left: inherit;
        z-index: 2;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: burlywood;
    }

}    