.form{
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0 auto;
}

.form{
    background-color: map-get($colors, secondary);
    width: 450px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;;
}

.titulo__form{
    color: white;
    text-align: center;
    margin: 0;  
    font-size: 30px;
    margin-bottom: 20px;
}

.botones{
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

.botones__form{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

.enviar{
    color: black;
    padding: 10px;
    margin: 1em;
     
}

.enviar:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

// MEDIA SCREEN


@media screen and (max-width: 768px){

    .titulo__form{
        text-align: center;
    }
    
}