
 .menu__inicio{
    @include flex(row, space-around, flex-end, 0)
    font-size: 20px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.titulo__3{
    text-align: center;
    font-size: 2.4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 30px;
    text-decoration: underline;
}

// GALERIA DE IMAGENES

.gallery{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 50px;
}

.gallery__img:nth-of-type(1){
    grid-column: 1 / 2;
}

.gallery__img:nth-of-type(2){
    grid-column: 3 / 12;
    
}

.gallery__img:nth-of-type(3){
    grid-column: 1 / 2;
    grid-row: 2;
}

.gallery__img:nth-of-type(4){
    grid-column: 3 / 12;
    grid-row: 2;
}

.gallery__img:nth-of-type(5){
    grid-column: 1 / 12;
    grid-row: 3;
}

.gallery__img:nth-of-type(6){
    grid-column: 3 / 12;
    grid-row: 3;
}


// MEDIA SCREEN

@media screen and (max-width: 768px){

    .info__title{
        text-align: center;
    }

    .gallery{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2rem;
    }
    
    .gallery__img:nth-of-type(1){
        grid-column: 1 / 2;
    }
    
    .gallery__img:nth-of-type(2){
        grid-column: 1 / 2;
        grid-row: 2;
        
    }
    
    .gallery__img:nth-of-type(3){
        grid-column: 1 / 2;
        grid-row: 3;
    }
    
    .gallery__img:nth-of-type(4){
        grid-column: 1 / 2;
        grid-row: 4;
    }
    
    .gallery__img:nth-of-type(5){
        grid-column: 1 / 2;
        grid-row: 5;
    }
    
    .gallery__img:nth-of-type(6){
        grid-column: 1 / 2;
        grid-row: 6;
    }

}