
main {
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.circulo{
    margin: 30px;

    &__1{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        object-fit: cover;
        margin: 60px;    
    }

    &__2{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        object-fit: cover;
        margin: 60px;
    }

    &__3{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        object-fit: cover;
        margin: 60px;
    }

    &__4{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        object-fit: cover;
        margin: 60px;
    }
}


.card-text{
    font-size: medium;
    font-size: small;
}

.card-title{
    text-align: center;
    font-size: x-large;
    justify-content: center;
    text-decoration: underline;

    &-title{
        text-align: center;
        font-size: medium;
        justify-content: center;
        text-decoration: underline;
    }

}


.info{
    display: flex;
    padding: 6rem;
    align-items: center;
}

.info__box{
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
}

.info__title{
    font-size: 2.4em;
    color: map-get($colors, primary);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1em;
    color: #333232;
    text-align: center;
    text-decoration: underline;

    &--active{
        @extend .info__title;
        color: white;
    }
}

.info__descrpcion{
    font-size: 2em;
    font-weight: 300;
    font-family: cursive;
    color: white;
    margin: 10px;
}


.btn{
    font-size: medium;
    background-color: black;
    color: white;
}

.cards:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}


// MEDIA SCREEN

@media screen and (max-width: 768px){
    
    .conteiner{
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
}