
h1{
    color: map-get($colors, base);
    text-shadow: 1px 2px black, 0 0 25px slategrey, 0 0 5px slategray;
    text-align: center;
    margin: 25px; 
    text-decoration: underline;
}

.imagenes{
    margin: 20px;

    &__1{
        margin: 40px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__2{
        margin: 40px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__3{
        margin: 40px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__4{
        margin: 40px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__5{
        margin: 40px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__6{
        margin: 40px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__7{
        margin: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
}


.carousel{
    font-size: 20px;
    color: map-get($colors, primary);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.carousel__par{
    color: map-get($colors, base);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


// MEDIA SCREEN

@media screen and (max-width: 7680px){

    h1{
        text-align: left;
    }

    .imagenes{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
    
}