.titulo__4{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    color: map-get($colors, base);
    text-align: center;
}

.video{
    margin: 30px;
}

.parrafo__serv{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    margin: 20px;
    text-align: inherit;
}

// MEDIA SCREEN

@media screen and (max-width: 768px){
    
    .titulo__4{
        font-size: 10px;
        text-align: center;
    }

}
    

